<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jiuyeGL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.hbsi.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>cn.hbsi.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>cn.hbsi.controller.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/cookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.hbsi.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>public/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>cn.hbsi.view.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>cn.hbsi.view.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateImageServlet</servlet-name>
    <servlet-class>cn.hbsi.view.CreateImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateImageServlet</servlet-name>
    <url-pattern>/createImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>cn.hbsi.view.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/checkCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentManageServlet</servlet-name>
    <servlet-class>com.hbsi.controller.StudentManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentManageServlet</servlet-name>
    <url-pattern>/studentManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompanyManageServlet</servlet-name>
    <servlet-class>com.hbsi.controller.CompanyManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyManageServlet</servlet-name>
    <url-pattern>/companyManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecruitManageServlet</servlet-name>
    <servlet-class>com.hbsi.controller.RecruitManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecruitManageServlet</servlet-name>
    <url-pattern>/recruitManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmploymentManageServlet</servlet-name>
    <servlet-class>com.hbsi.controller.EmploymentManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmploymentManageServlet</servlet-name>
    <url-pattern>/employmentManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResumeManageServlet</servlet-name>
    <servlet-class>com.hbsi.controller.ResumeManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumeManageServlet</servlet-name>
    <url-pattern>/resumeManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserManageServlet</servlet-name>
    <servlet-class>com.hbsi.controller.UserManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManageServlet</servlet-name>
    <url-pattern>/userManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecruitResumeManageServlet</servlet-name>
    <servlet-class>com.hbsi.controller.RecruitResumeManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecruitResumeManageServlet</servlet-name>
    <url-pattern>/recruitResumeManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageManageServlet</servlet-name>
    <servlet-class>com.hbsi.controller.MessageManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageManageServlet</servlet-name>
    <url-pattern>/messageManage</url-pattern>
  </servlet-mapping>
</web-app>